@use '@angular/material' as mat;

:root {
    @include mat.divider-overrides((
    color:  #bec6dc,
  ));

  @include mat.snack-bar-overrides((
    container-color: #ff0000,
    supporting-text-color: #ffffff,
    button-color: #ffffff
  ));
}

html, body { height: 100%; width: 100%; }
body { display: flex; flex-direction: column; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  box-sizing: border-box;
}
